page-home {
    .loginButton{
        border: 1px solid grey;
        border-radius: 15px;
        padding: 10px;
        font-size: 1.3em;
    }
    .logoText{
        font-weight: bolder;
        color: red;
        font-style: italic;
        font-family: cursive;
        font-size: 2em;
        cursor: pointer;
    }
}
