
ion-app{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    .tabbar{
        width: 100% !important;
        .tab-button{
            width: 33% !important;
            max-width: 33% !important;
        }
    }
    .tabbar .tab-button{
        width: 50% !important;
        max-width: 50% !important;
    }
}